.container {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 500px 500px 200px;
    grid-template-areas:
    "header"
    "info"
    "featured"
    "footer";
}

.header {
    grid-area: header;
}

.info {
    grid-area: info;
}

.featured {
    grid-area: featured;
}

.footer {
    grid-area: footer;
}