@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


/*Variables*/
:root {
    --donker: #0c0c0c;
    --licht: #efefef;
    --lichttekstAccent: #fbe0c3;
    --donkertekstAccent: #344648;
    --navbarkleur: #7d8e95;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--accentKleur);
    color: var(--tekstKleur);
    --accentKleur: var(--licht);
    --tekstKleur: var(--donkertekstAccent);
    --anderTekst: var(--lichttekstAccent);
}

/*Standaard thema*/
body.dag {
    --accentKleur: var(--licht);
    --tekstKleur: var(--donkertekstAccent);
    --anderTekst: var(--lichttekstAccent);
}

/*Donkere thema*/
body.night {
    --accentKleur: var(--donker);
    --tekstKleur: var(--lichttekstAccent);
    --anderTekst: var(--donkertekstAccent);
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    top: 0;
    position: sticky;
    background-color: var(--navbarkleur);
}

.titel {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    left: 15px;
    position: absolute;
}

.titel a {
    color: var(--tekstKleur);
    text-decoration: none;
    transition: 0.5s;
}

.titel a:hover {
    color: var(--anderTekst);
    text-shadow: 0 0 15px var(--donkertekstAccent);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links .active {
    color: var(--anderTekst);
}

.nav-links .active:hover {
    letter-spacing: 6px;
    color: var(--tekstKleur);
    text-shadow: 0 0 15px var(--donkertekstAccent);
}

.nav-links a {
    color: var(--tekstKleur);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 25px;
    transition: 0.5s;
}

.nav-links a:hover {
    letter-spacing: 6px;
    color: var(--anderTekst);
    text-shadow: 0 0 15px var(--donkertekstAccent);
}

.checkbox {
    opacity: 0;
    position: absolute;
}


.label {
    background-color: var(--anderTekst);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    height: 26px;
    width: 50px;
    left: 60px;
}

.ball {
    background-color: var(--accentKleur);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transition: all 0.2s linear;
}

.ball:hover {
    background-color: var(--tekstKleur);
}


.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: var(--tekstKleur);
}

.fa-sun {
    color: var(--tekstKleur);
}

.midden {
    position: fixed;
    left: 7.5%;
    top: 10%;
    width: 85%;
    height: 75%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: 0;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100vw;
    background-color: var(--navbarkleur);
}

footer li {
    list-style: none;
}

footer a {
    color: var(--tekstKleur);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 8px 25px;
    transition: 0.5s;
}

footer a:hover {
    color: var(--anderTekst);
    text-shadow: 0 0 5px var(--donkertekstAccent);
}

.footerLeft {
    float: left;
    margin-left: 25%;
}

.footerRight {
    float: right;
    margin-right: 25%;
}

.social a {
    margin-left: 25px;
    padding: 0px;
}

#cookiePopup {
    background-color: #fff9;
    position: fixed;
    left: 0px;
    bottom: 0px;
    padding: 30px;
    border-radius: 0px 10px 0px 0px;
}

/* slides */

/* achtergrond voor alle slides */
#p1 {
    display: block;
    background-image: url("../../media/img/trans/panda.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#p2 {
    display: none;
    background-image: url("../../media/img/trans/rog.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#p3 {
    display: none;
    background-image: url("../../media/img/trans/tijger.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#p4 {
    display: none;
    background-image: url("../../media/img/trans/vos.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#p5 {
    display: none;
    background-image: url("../../media/img/trans/beer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slides {
    display: none;
    position: fixed;
    left: 7.5%;
    top: 10%;
    width: 85%;
    height: 75%;
    z-index: 10;
    overflow: hidden;
    border-radius: 20px;
}

.slides img {
    width: 100%;
    z-index: 10;
    opacity: 0.1;
}

.midden button {
    z-index: 99;
    display: inline;
    position: relative;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    font-size: 4em;
    color: var(--tekstKleur);
    transition: 0.5s;
    cursor: pointer;
}

.midden button:hover {
    color: var(--anderTekst);
}

.goog-te-banner-frame.skiptranslate {display: none !important;} 
body { top: 0px !important; }

#slideKnoppen {
    width: 100%;
    height: 80%;
}

#vorige {
    float: left;
    margin-left: 10px;
    margin-top: 13%;
}

#volgende {
    float: right;
    margin-top: 0%;
    margin-right: 10px;
    margin-top: 13%;
}

.slides h1 {
    display: inline;
    position: relative;
    top: 0px;
}

#slideSelectors {
    width: 100%;
    text-align: center;
    margin-top: 1%;
}


.circel {
    height: 25px;
    width: 25px;
    background-color: var(--tekstKleur);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    z-index: 99;
    cursor: pointer;
}

#c1 {
    background-color: var(--anderTekst);
}

.slides .ticket {
    background-color: #344648;
    color: var(--lichttekstAccent);
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.slides .ticket:hover {
    background-color: var(--tekstKleur);
    color: var(--anderTekst);
    font-size: 20px;
}

.slideContent {
    margin-left: 100px;
    height: 100%;
    margin-top: 5%;
}